@use "../utils/_variables";

.message-node {
  padding: 12px;

  &.MuiCard-root {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18);
  }

  .MuiCardHeader-root {
    padding: 0;

    .MuiCardHeader-avatar {
      margin-right: 8px;
    }

    .MuiCardHeader-title {
      font-weight: 500;
    }
  }

  .message-example-content {
    background-color: variables.$light-grey;
    border-radius: 8px;
    padding: 20px 24px;
    margin-top: 14px;
    width: 240px;

    .message-node-card {
      padding: 7px;

      hr {
        margin: 8px 0;
      }

      .message-node-header {
        height: 110px;
        border-radius: 7px;
        position: relative;
      }

      .section-label {
        color: variables.$green;
        background-color: variables.$light-grey;
        border-radius: 4px;
        padding: 6px 12px;
        font-size: 12px;
        letter-spacing: 0.4px;
        display: inline-block;

        &.for-header {
          top: 7px;
          left: 8.5px;
          position: relative;
          background-color: #fff;
        }
      }

      .message-node-content {
        padding: 0;

        .message-node-text {
          font-size: 14px;
          margin: 3px 0 0 0;

          &.footer {
            color: variables.$med-grey;
          }
        }
      }
    }

    .option-buttons {
      width: 100%;

      .option-button {
        background-color: #fff;
        color: variables.$primary-colour;
        width: 100%;
        margin-top: 8px;
        font-weight: normal;
        text-transform: none;
        padding: 5px 10px;
      }
    }
  }
}

hr {
  &.dotted-green {
    border-top: 1px dashed variables.$green-2;
    border-bottom: none;
  }
}
